// Основной файл, описывающий ключевые моменты

@font-face { 
	font-family: "Century Gothic";
	src: 
		local("Century Gothic"),
		url("fonts/gothic.ttf") format("ttf"),
		url("fonts/CenturyGothic.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@keyframes moveOut {
	from {
		transform: translateX(80%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes moveIn {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(80%);
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: "Century Gothic", sans-serif;
	letter-spacing: 0em;
	color: @common-color;
	background-color: @body-background;
	scroll-behavior: 'smooth';
	overflow: auto;
}

.root {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 480px;
	height: 600px;
	margin: -300px 0 0 -240px;
	transform: translateX(-240px);
}

.inner-card {
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	top: 15px;
	left: 0;
	width: 120%;
	height: 570px;
	background: @card-background;
	opacity: 0;
	z-index: 5;
	transform: translateX(0);
	transition: opacity 0.5s linear, transform 1s ease, visibility 1s linear;

	&.inner-card_open {
		visibility: visible;
		opacity: 1;
		transform: translateX(80%);
	}
}

.inner-card-content {
	padding: 30px 30px 30px 40px;

	h2, p {
		margin: 0;
		padding: 0;
	}

	.article {
		margin-bottom: 60px;
	}

	.heading {
		position: relative;
		margin-bottom: 20px;
		margin-left: 20px;
		font-size: 17px;
		line-height: 21px;
		font-weight: 600;
		color: @main-color;

		&::before {
			content: '';
			position: absolute;
			left: -12px;
			width: 30px;
			height: 30px;
			background: @circle-gradient;
			border-radius: 50%;
			z-index: -1;
		}
	}

	.article-content {
		position: relative;
		font-size: 14px;

		&::before {
			.horizontal-line();
			top: 0;
			left: -40px;
		}

		&::after {
			.vertical-line();
		}
	}

	strong {
		.strong-text();
	}
}

@media (max-width: 1072px) {
	.root {
		width: 440;
		margin: -300px 0 0 -220px;
		transform: translateX(-204px);
	}
}

@media (max-width: 1023px) {
	.root {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		margin: 0 auto;
		max-width: @width-1023;
		width: auto;

		.inner-card {
			position: relative;
			visibility: visible;
			opacity: 1;
			width: 100%;
			height: auto;
			margin-bottom: 15px;
			overflow: visible;

			&.inner-card_open {
				transform: none;
			}
		}
	}
}

@media (max-width: 560px) {
	.root {
		margin: 0 0px;
		width: auto;
		max-width: 100%;
	}
}