// main
@main-color: rgba(255, 255, 255, 0.85);
@secondary-color: #2eca7f;
@common-color: rgba(255, 255, 255, 0.55);
@body-background: #26262d;
@horizontal-line: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
@horizontal-right-line: radial-gradient(ellipse at right, rgba(197, 202, 213, 0.1) 0%, rgba(255, 255, 255, 0) 70%);
@vertical-line: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.1) 0%, rgba(255, 255, 255, 0) 70%);

// main-card
@card-background: #31313a;
@width-1023: 540px;
@header-links: 4;