.header {
	position: absolute;
	margin: 0;
	padding: 0;
	left: -80px;
	top: 15px;
	width: 72px;

	.header-links {
		display: grid;
		grid-auto-rows: 72px;

		.header-links__a {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			text-align: center;
			line-height: 24px;
			font-size: 11px;

			.icon {
				width: 20px;
				height: 20px;
			}

			&:not(:first-of-type)::before {
				.horizontal-right-line();
			}
		}
	}
}

@media (max-width: 1023px) {
	.header {
		position: fixed;
		top: 0;
		left: auto;
		height: 72px;
		width: 100%;
		max-width: @width-1023;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		z-index: 100;

		.header-links {
			grid-template-rows: none;
			grid-template-columns: repeat(@header-links, 1fr);

			.header-links__a {

				&:not(:first-of-type)::before {
					.vertical-line();
				}
			}
		}
	}
}